html {

    background-image: url("/images/bats.gif");
    background-repeat: repeat;
    background-size: 150px 180px;

}


body {

    border : 2px double black;
    width : 1000px;
    margin: 0px auto;
    background-color: white;
    font-family: "Verdana Pro Bold", Verdana, sans-serif;
      
      
}

header img {
    float: left;
    vertical-align: top;
}


h1 i {
    color: orange;
    text-shadow: 3px 1px 0px rgba(0, 0, 0, 1);
  }

.indent li {
    margin-left: 20px; /* Adjust the value as needed for the desired indentation */
    font-weight: bold;
}